@use "base";

.navbar-container {
  z-index: 10;
  position: fixed;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 10px;
  cursor: pointer;
}

.button-container {
  display: flex;
}

.button {
  margin-right: 10px;
  cursor: pointer;
  border: none;
  transition: 0.5s;

  :hover {
    opacity: 0.5;
  }
}
